ul {
  list-style-type: none;
  padding: 0;
}

.list {
  max-height: 150px;
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #eee;
}

.result {
  padding: 10px;
  cursor: pointer;
}

.result:hover,
.result:hover a {
  background-color: rgb(255, 0, 100);
  color: #fff;
  text-decoration: none;
}